.header {
  width: 100%;
  height: 80vh;
  background-image: url('img/20210911_083502.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;

  .form {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    width: 40%;
    padding: 30px 40px;
    border-radius: 10px;
    gap: 20px;

    .booking_form_heading {
      color: white;
      text-transform: capitalize;
      font-size: 24px;
    }

    .btn_container {
      display: flex;
      gap: 20px;
      color: white;

      button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        padding: 8px;
        background-color: #007ad9;
        border-radius: 6px;
      }
    }
  }
}

.input_container {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: repeat(4, max-content);
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  .from_to_container {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 45% max-content 45%;
    justify-content: space-between;
    align-items: center;

    .fa-exchange-alt {
      color: white;
    }
  }
}

.inputs {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  border-radius: 4px;
  overflow: hidden;

  input {
    width: 100%;
    padding: 12px;
  }
}

.input_select {
  position: relative;

  button {
    border-radius: 4px;
    background-color: #007ad9;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: inherit;
    font-family: inherit;
    width: 100%;
    padding: 12px;

    .option_arrow {
      transition: transform 0.5s ease-in;
    }
  }

  .options_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    transition: all 0.4s ease-in-out;
    height: 0;
    visibility: hidden;
    opacity: 0;

    &::-webkit-scrollbar {
      width: 5px;
      background-color: #eee;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $secondary-blue;
    }

    .option {
      padding: 10px;
      display: flex;
      align-items: center;
      border-bottom: 2px solid #eee;
      cursor: pointer;

      &:last-child {
        border: 0;
      }

      input {
        display: none;
      }

      &:hover {
        background-color: #007ad9;
        color: white;
      }
    }
  }

  &.active .options_container {
    height: 150px;
    opacity: 1;
    visibility: visible;
  }

  &.active .option_arrow {
    transform: rotate(90deg);
  }
}

.input_quota {
  grid-column: 1/3;
  width: 45%;
}

.checkboxes {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;

  .checkbox {
    input {
      display: none;
    }

    label {
      font-family: 18px;
      display: flex;
      gap: 20px;
      color: white;
    }

    input:checked ~ label {
      color: red;
    }
  }
}

.submit_btn {
  border-radius: 5px;
  font-size: inherit;
  font-family: inherit;
  border: 0;
  padding: 10px;
  background-color: orangered;
  color: white;
}
