.nav_container {
  width: 100%;
  display: flex;
  flex-direction: column;

  li {
    list-style: none;
  }

  a:link {
    text-decoration: none;
  }

  nav {
    display: flex;
    align-items: center;
  }
}

.top_nav {
  justify-content: space-between;
  padding: 16px 40px;

  .logo {
    width: 40px;
    height: 40px;

    img {
      height: 100%;
    }
  }
  .login_btn {
    width: 120px;
    padding: 12px 18px;
    background-color: $primary-blue;
    color: $white;
    border-radius: 6px;
    font-weight: 600;
    text-transform: capitalize;
  }

  .date_time_container {
    display: flex;
    align-items: center;
    color: $primary-blue;
    gap: 26px;
    font-weight: 800;
    text-transform: capitalize;
  }
}

.top_nav_lists {
  display: flex;
  align-items: center;
  gap: 30px;

  a {
    color: black;
    padding: 10px;
    font-weight: 600;
    text-transform: capitalize;
  }
}

.bottom_nav {
  background-color: $primary-blue;
  justify-content: center;
}

.bottom_nav_lists {
  display: flex;
  align-items: center;

  li {
    display: inline-block;
    color: inherit;
    position: relative;

    a {
      display: flex;
      align-items: center;
      display: flex;
      padding: 15px;
      gap: 4px;
      text-transform: capitalize;

      .material-icons {
        font-size: 16px;
      }
    }

    &:hover > .dropdown_menu {
      visibility: visible;
      opacity: 1;
    }
  }

  .dropdown_menu {
    width: 240px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-top: 4px solid $primary-blue;
    color: black;
    position: absolute;
    top: 100%;
    left: -50%;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    z-index: 5;

    li {
      color: black;
      display: flex;
      justify-content: stretch;

      a {
        width: 100%;
        color: black;
        padding: 10px;
        justify-content: space-between;
        padding-right: 20px;
        transition: padding 0.2s ease-in;

        &:hover {
          padding-right: 10px;
          background-color: $secondary-blue;
          color: white;
        }
      }
      &:last-child a {
        border-radius: 0 0 10px 10px;
      }
    }

    .dropdown_menu {
      border: 0;
      border-radius: 0 10px 10px 0;
      top: 0;
      left: 100%;
      border-left: 4px solid $primary-blue;

      li {
        a {
          color: black;

          &:hover {
            background-color: $secondary-blue;
            color: white;
          }
        }
        &:first-child a {
          border-radius: 0 10px 0 0;
        }

        &:last-child a {
          border-radius: 0 0 10px 0;
        }
      }
    }
  }

  .premium_partner li a {
    justify-content: flex-start;
    gap: 20px;
  }
}

.partner_logo {
  width: 40px;
  height: 40px;
}
