@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

$primary-blue: #213d77;
$secondary-blue: #007ad9;
$light-orange: #fb792b;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

html {
  font-family: 62.5%;
}
body {
  font-family: 'Nunito Sans', sans-serif;
  overflow-x: hidden;
}

.nav_container {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);

  a:link {
    text-decoration: none;
  }

  button {
    border: 0;
    font-size: inherit;
    padding: 12px 16px;
    background-color: $primary-blue;
    color: white;
    border-radius: 5px;
  }

  .first_nav ul {
    display: flex;
    text-transform: uppercase;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(26, 26, 26);
    color: white;
    text-transform: capitalize;

    li {
      padding: 10px;
    }

    a {
      color: white;
    }
  }

  .second_nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    background-color: $primary-blue;
    text-transform: capitalize;

    li {
      padding: 15px;
      position: relative;
      cursor: pointer;
      align-items: stretch;

      &:hover > .dropdown_menu {
        display: flex;
      }
      a {
        color: white;
      }
    }

    .dropdown_menu {
      width: 200px;
      color: black;
      // padding: 10px;
      border-radius: 0 0 10px 10px;
      list-style: none;
      background-color: white;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      left: -50%;
      position: absolute;
      top: 100%;
      flex-direction: column;
      align-items: stretch;
      display: none;
      border-top: 4px solid $primary-blue;

      li {
        padding: 10px;
        display: flex;
        align-items: flex-start;

        &:hover {
          background-color: #eee;
        }
        a {
          color: $primary-blue;
        }
      }

      .dropdown_menu {
        // padding: 10px;
        border: 0;
        border-radius: 0 10px 10px 0;
        list-style: none;
        position: absolute;
        left: 100%;
        top: 0;
        display: none;
        background-color: white;
        border-left: 4px solid $primary-blue;

        a {
          color: $primary-blue;
        }
      }
    }
  }
}
